<div class='all-questions'>
 {{#each questions}}
 <div>
   <p><strong>Question: {{this.title}}</strong></p>
   <p>Answer 1: {{this.answer1}}</p>
   <p>Answer 2: {{this.answer2}}</p>
   <p>Answer 3: {{this.answer3}}</p>
 </div>
 {{/each}}
</div>
